@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  font-family: 'Josefin Sans', sans-serif;
}

:root {
  --bg-img: url('./Assets/bg-desktop-dark.jpg');
  --bg-main: hsl(235, 21%, 11%);
  --bg-todo: hsl(235, 24%, 19%);
  --shadow-todo: hsl(235, 21%, 11%);
  --font-color-low-opacity: hsl(234, 39%, 85%, .2);
  --font-color: hsl(234, 39%, 85%);
  --font-color-hover: hsl(236, 33%, 92%);
}

.light-theme {
  --bg-img: url('./Assets/bg-desktop-light.jpg');
  --bg-main:hsl(0, 0%, 98%);
  --bg-todo: hsl(0, 0%, 98%);
  --shadow-todo: hsl(235, 19%, 35%);
  --font-color: hsl(236, 9%, 61%);
  --font-color-hover: hsl(235, 19%, 35%);
  --font-color-low-opacity: hsl(234, 39%, 85%, .6)
}

@media (max-width: 700px) {
  :root {
    --bg-img: url('./Assets/bg-mobile-dark.jpg');
  }
  .light-theme {
    --bg-img: url('./Assets/bg-mobile-light.jpg');
  }
}

body {
  background-color: var(--bg-main);
  background-image: var(--bg-img);
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: .4s ease-in-out;
}

.App {
  box-sizing: border-box;
  padding-top: 60px;
  max-width: 500px;
  margin: 0 auto;
  font-weight: 400; 
  color: var(--font-color);
}

.container {
  padding: 0 20px;
}

.todo-header > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.todo-header h1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin-bottom: 30px;
}

.light-theme .todo-header h1 {
  color: var(--bg-todo);
}

.todo-header form {
  max-width: 100%;
  background-color: var(--bg-todo);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-sizing: border-box; 
  box-shadow: 0 5px 25px -12px var(--shadow-todo);
}

.todo-header input {
  width: 100%;
  background-color: transparent;
  font-size: 1rem;
  border: none;
  color: var(--font-color-hover);
  font-family: 'Josefin Sans', sans-serif;
}

.todo-header input:focus, .todo-header input:hover {
  outline: none;
}

.todo-header-theme-button {
  cursor: pointer;
  transition: .3s;
}

.todo-header-theme-button:hover {
  transform: rotate(-30deg);
}

.check {
  min-width: 20px;
  height: 20px;
  border: 2px solid var(--font-color);
  opacity: .2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .2s;
}

.check svg{
  display: none;
}

.check:hover svg{
  display: initial;
}

.check:hover svg path{
  stroke: var(--font-color-hover);
}

.check:hover {
  border: 2px solid var(--font-color-hover);
  opacity: 1;
}

.todo-items {
  background-color: var(--bg-todo);
  border-radius: 4px;
  margin-top: 20px;
  height: 50vh;
  overflow-y: auto;
  box-shadow: 0 5px 25px -12px var(--shadow-todo);
}

.todo-item {
  background-color: var(--bg-todo);
  color: var(--font-color-hover);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--font-color-low-opacity);
  font-weight: 400;
}

.todo-item-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cross {
  width: 20px;
  height: 20px;
  display: none;
  cursor: pointer;
}

.todo-item:hover .cross {
  display: initial;
}

.todo-item.completed p {
  text-decoration: line-through;
  color: var(--font-color);
  opacity: .8;
}

.todo-item.completed .check  {
  border: 2px solid var(--font-color-hover);
  opacity: 1;
}

.todo-item.completed .check svg {
  display: initial;
}

.todo-item.completed .check svg path{
  stroke: var(--font-color-hover);
}

.todo-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  padding: 1rem;
  color: var(--font-color);
}

.todo-options div {
  display: flex;
  gap: 1rem;
}

.todo-options li {
  cursor: pointer;
  opacity: .8;
}

.todo-options li:hover {
  color: var(--font-color-hover);
  opacity: 1;
}

.todo-options li.active {
  color: var(--font-color-hover);
  opacity: 1;
}

.todo-options .items-left {
  width: 80px;
  cursor: default;
}

@media (max-width: 450px) {
  .todo-options > li:nth-child(1) {
    display: none;
  }
}

.footer {
  margin-top: 60px;
}

.footer p {
  text-align: center;
  color: var(--font-color);
  opacity: .8;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: 4px;
}